{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'quiz' %}/estilo.css">
    <title>Evaluacion</title>
</head>
<body>
    <h1>Estudiantes</h1>   
    <table>
        <thead>
            <tr>
                <td>Nombre</td>
                <td>Ficha</td>
                <td>Edad</td>
            </tr>
        </thead>
        <tbody>
            {% for est in estu %}
            <tr>
                <td>{{est.nombre}}</td>
                <td>{{est.ficha}}</td>
                <td>{{est.edad}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
            
</body>
</html>